<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.litemanager.mapper.TaskResultMapper">

    <resultMap id="BaseResultMap" type="com.example.litemanager.domain.TaskResult">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="shellFileName" column="shell_file_name" jdbcType="VARCHAR"/>
            <result property="executeTime" column="execute_time" jdbcType="TIMESTAMP"/>
            <result property="executeResult" column="execute_result" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="OTHER"/>
            <result property="lastUpdateUser" column="last_update_user" jdbcType="OTHER"/>
            <result property="lastUpdateTime" column="last_update_time" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,shell_file_name,execute_time,
        execute_result,version,last_update_user,
        last_update_time
    </sql>
</mapper>
